[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
requests = "*"
python-multipart = "*"
psycopg2-binary = "*"
alembic = "*"
sqlalchemy = "*"
pytest = "*"
tenacity = "*"
python-dotenv = "*"
gphotospy = "*"
python-magic = "*"
pyheif = "*"
loguru = "*"
pillow = "*"
pyheif-pillow-opener = "*"
flask-sqlalchemy = "*"
pytest-mock = "*"
pytest-asyncio = "*"
asyncpg = "*"
gst = "*"
aiofiles = "*"
aiosqlite = "*"

[dev-packages]
pytest-mock = "*"
faker = "*"
pyinstaller = "*"
pyoxidizer = "*"
nuitka = "*"

[requires]
python_version = "3.8"
