[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
flask = "*"
python-dotenv = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
click = "*"
pytest = "*"
sqlalchemy = "*"
loguru = "*"
flask-apispec = "*"
pillow = "*"
gphotospy = "*"
pytest-mock = "*"
python-magic = "*"
pyheif-pillow-opener = "*"
pyheif = "*"
numpy = "*"
flask-cors = "*"

[dev-packages]
factory-boy = "*"
webtest = "*"
faker = "*"

[requires]
python_version = "3.8"
